// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px / 16 = 75em
$bp-large: 62.5em; // 1000px / 16 = 62.5em
$bp-medium: 50em; // 800px / 16 = 50em
$bp-small: 37.5em; // 600px / 16 = 37.5em

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px --> 10px/16px = 62.5%

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%; // 1rem = 8px --> 8px/16px = 50%
  }
}
