.p-10 {
  padding: 0.7rem;
}
.mt-100 {
  margin-top: 100px;
}

.error {
  color: #d60502;
  font: inherit;
}
.fs-14 {
  font-size:  1.4rem;
}

.th-table-center {
  position: absolute;
  top: 20%;
  left: 0%;
  transform: translate(50%, 50%);
}
