.room {
  font-size: 1.4rem;
  margin: 2rem 0;

  .card-header {
    background-color: #2B96C1;
  }

  h2 {
    .btn-link {
      color: white;
      font-size: 1.4rem;
    }
  }

  td {
    a {
      font-size: 1.4rem;
    }
  }
}
